<body style="background-color: rgba(36, 88, 24, 0.321);">


  <div *ngIf="displayAddUserPlantForm == false && !selected" class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <button class="button" (click)="displayAddUserPlantForm = true">Add a Plant to your Garden?</button>
  </div>



      <div class= "garden" id="plants">
        <div class="plantCards" *ngIf="!selected && displayAddUserPlantForm == false">
            <div class="card" *ngFor="let userplant of userPlants | searchfilter:searchValue">

              <img [src]="userplant.imageUrl" alt="" class="card-image" height="250" width="250px"  >
              <!-- <ul *ngIf="userplant.active === true">
                <li *ngIf="userplant.active === true">{{ userplant.nickname }}</li>
              </ul> -->

              <button (click)="setPlant(userplant)" type="button" data-toggle="modal" data-target="#singlePlantModal">
                Check On {{userplant.nickname}}
            </button>


          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>





  <!------------------------------------------------------------------------------------------------------------->
  <!--                                   SNGLE PLANT DETAIL VIEW                                              --->
  <!------------------------------------------------------------------------------------------------------------->

  <!------------------------------ DISPLAY SINGLE PLANT DETAILS MODAL  ----------------------------------------->

  <div class="modal fade" id="singlePlantModal" tabindex="-1" role="dialog" *ngIf="selected && editForm == false" >

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

                <div class="modal-header ">
                    <h6 class="modal-title mb-0" id="careCardModalLabel"> {{ selected.nickname }}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="selected = null">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">

                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">


                      <!-- <div><img class="singleImage" [src]="selected.imageUrl" class="img-thumbnail" height="200px"/></div> -->

                      <ul class="list-group">
                        <li class="list-group-item">Nickname: {{ selected.nickname }}</li>
                        <li class="list-group-item">Height: {{ selected.height }} inches</li>
                        <li class="list-group-item">Spread: {{ selected.spread }} inches</li>
                        <li class="list-group-item">Pot Diameter: {{ selected.potDiameter }} inches</li>
                        <li class="list-group-item">Location:{{ selected.homeLocation }}</li>
                        <p class="list-group-item">{{ selected.description }}</p>

                      </ul>


  <div>
                      <button (click)="setEditUserPlant()" type="button" data-toggle="modal" data-target="#editPlantModal">
                        Edit
                        </button>


                        <button (click)="displayGrowthData(selected); showGrowth = true;" type="button" data-toggle="modal" data-target="#growthTrackerModal">
                        Display Plants Growth
                        </button>


                        <button (click)=" deactivateUserPlant(selected, selected.id); selected = null; displayAddTodoForm = false; editTodoForm = false; displaySelectedTodo = false"  data-dismiss="modal">
                          Deactivate
                        </button>




                        <button (click)="displayPlantsTodos(selected.id); displayTodos = true" type="button" data-toggle="modal" data-target="#showAllTodosModal">
                        Todo List
                        </button>


                        <!-- <button (click)="displayAddTodoForm = true" type="button" data-toggle="modal" data-target="#createTodoModal">
                        New Todo
                        </button> -->

                        </div>

                   </div>





        </div>
    </div>
  </div>



  <!------------------------------------------------------------------------------------------------------------->
  <!--                EDIT TODO MODAL : editTodosModal                                                        --->
  <!------------------------------------------------------------------------------------------------------------->



  <!-- <div class="modal" id="editTodosModal" tabindex="-1" role="dialog" *ngIf="selected && editTodoForm == true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="modal-title mb-0" id="editTodosModalLabel">Edit  {{editUserPlant.nickanme}} </h6>
                    <button type="button" class="close-button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="row">

                    <div class="form-group">
                        <label for="editPlantTitle">Task Name </label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Name" [(ngModel)]="editTodo.name" autofocus="" />
                    </div>
                    <div class="form-group">
                        <label for="editPlantTitle">Description</label>
                        <input type="text" class="form-control" name="homeLocation" placeholder="Enter Home Location" [(ngModel)]="editTodo.description" autofocus="" />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="updateTodo(editTodo.id, editTodo); editTodoForm = false"  data-dismiss="modal" >Update</button>
                </div>
            </form>
        </div>
    </div>
  </div> -->




  <!------------------------------------------------------------------------------------------------------------->
  <!--                SHOW PLANTS TODO MODAL : showAllTodosModal                                              --->
  <!------------------------------------------------------------------------------------------------------------->


   <div class="modal fade" id="showAllTodosModal" tabindex="-1" role="dialog" *ngIf="selected && displayTodos == true" >

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

                <div class="modal-header ">
                    <h6 class="modal-title mb-0" id="careCardModalLabel"> {{ selected.nickname }} </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">

                            <div class="container-fluid d-flex justify-content-center">

                              <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">


                                <div *ngFor="let todo of todos">
                                  <div class="list-item" data-id="13" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div class="flex">
                                      <a class="item-author text-color" data-abc="true">{{todo.name}}</a>
                                      <div class="item-except text-muted text-sm h-1x">
                                       {{ todo.description }}
                                      </div>
                                      <div class="item-except text-muted text-sm h-1x">
                                        <span [ngClass]="checkWarning(todo)">{{todo.dueDate}}</span>
                                      </div>

                                    <div class="no-wrap">
                                      <div class="item-date text-muted text-sm d-none d-md-block">
                                        {{ todo.createdAt }}
                                      </div>
                                    </div>



                                    <div>
                                      <div class="item-action dropdown">
                                        <a data-toggle="dropdown" class="text-muted" data-abc="true">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="12" cy="5" r="1"></circle>
                                            <circle cx="12" cy="19" r="1"></circle>
                                          </svg>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">

                                          <button (click)="displayTodo(todo); displaySelectedTodo = true" type="button" data-toggle="modal" data-target="#showSelectedTodoModal">
                                            View Details
                                          </button>


                                          <button (click)="setEditTodo(); editTodoForm = true" type="button" data-toggle="modal" data-target="#editTodosModal">
                                            Edit Todo
                                          </button>

                                           <button class="dropdown-item" (click)="displayAddTodoForm = true" type="button" data-toggle="modal" data-target="#createTodoModal">
                                            New Todo
                                            </button>


                                          <a class="dropdown-item edit" data-abc="true" (click)="setEditTodo(); editTodoForm = true">Edit</a> -->

                                          <a class="dropdown-item trash" data-abc="true" (click)="deleteTodo(todo.id); displayTodos = false">Delete item</a>

                                        </div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                      </div>

                  <button class="btn btn-primary" (click)="displayTodos = false" type="submit">Cancel</button>

                </div>
        </div>
        </div>

  <!------------------------------------------------------------------------------------------------------------->
  <!--                CREATE TODO MODAL : createTodoModal                                              --->
  <!------------------------------------------------------------------------------------------------------------->



  <div class="modal fade" id="createTodoModal" tabindex="-1" role="dialog" *ngIf="displayAddTodoForm == true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header d-flex align-items-center bg-primary text-white">
                    <h6 class="modal-title mb-0" id="createTodoModalLabel">New Todo</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">

                  <div class="col-lg-8">
                    <div class="card">
                      <div class="card-body">

                        <div class="row mb-3">
                          <div class="col-xl-3">
                            <h6 class="mb-0">Task Name</h6>
                          </div>
                          <div class="col-sm-3 text-secondary">
                            <input type="text" class="form-control" name="name" [(ngModel)]="newTodo.name"> Name
                          </div>
                        </div>


                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Due Date</h6>
                          </div>

                          <div class="col-sm-3 text-secondary">
                            <input type="date" class="form-control" name="dueDate" [(ngModel)]="newTodo.dueDate">Due Date
                          </div>
                        </div>


                      </div>
                    </div>
                    </div>
                     </div>







                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="addTodo(newTodo, selected.id); displayAddTodoForm == false"  data-dismiss="modal" >Add Task</button>
                  <button class="btn btn-primary" (click)="displayAddTodoForm = false" type="submit"  data-dismiss="modal">Back</button>
                </div>
            </form>
        </div>
    </div>
  </div>





  <!------------------------------------------------------------------------------------------------------------->
  <!--                SHOW PLANTS TODO MODAL : showSelectedTodoModal                                          --->
  <!------------------------------------------------------------------------------------------------------------->


  <div class="modal" id="showSelectedTodoModal" tabindex="-1" role="dialog" *ngIf="displaySelectedTodo == true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="modal-title mb-0" id="editPlantModalLabel">Edit Plant </h6>
                    <button type="button" class="close-button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>


                <div class="modal-body">
                  <div class="row">

                    <h1><span [ngClass]="checkWarningForIndividualTodo()">{{selectedTodo.name}}</span></h1>
                    <ul>
                      <li>{{ selectedTodo.name }}</li>
                      <li>{{ selectedTodo.description }}</li>
                      <li>{{ selectedTodo.createdAt }}</li>
                      <li>{{ selectedTodo.completedAt }}</li>
                    </ul>



                  </div>
                  </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="updatePlant(editPlant, editPlant.id)"  data-dismiss="modal" >Update</button>
                </div>
            </form>
        </div>
    </div>
  </div>





  <!------------------------------------------------------------------------------------------------------------->
  <!--                             EDIT USER PLANT MODAL  editPlantModal                                      --->
  <!------------------------------------------------------------------------------------------------------------->


  <div class="modal" id="editPlantModal" tabindex="-1" role="dialog" *ngIf="editUserPlant">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="modal-title mb-0" id="editPlantModalLabel">Edit  {{editUserPlant.nickanme}} </h6>
                    <button type="button" class="close-button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="row">

                    <div class="form-group">
                        <label for="editPlantTitle">Nickname</label>
                        <input type="text" class="form-control" name="nickname" placeholder="Enter Nickname" [(ngModel)]="editUserPlant.nickname" autofocus="" />
                    </div>
                    <div class="form-group">
                        <label for="editPlantTitle"></label>
                        <input type="text" class="form-control" name="homeLocation" placeholder="Enter Home Location" [(ngModel)]="editUserPlant.homeLocation" autofocus="" />
                    </div>
                    <div class="form-group">
                        <label for="editPlantTitle">Description </label>
                        <input type="text" class="form-control" name="description" placeholder="Enter Description" [(ngModel)]="editUserPlant.description" autofocus="" />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="updateUserPlant(editUserPlant, editUserPlant.id)"  data-dismiss="modal" >Update</button>
                </div>
            </form>
        </div>
    </div>
  </div>

  <!------------------------------------------------------------------------------------------------------------->
  <!--                GROWTH TRACKER MODAL : growthTrackerModal                                                      --->
  <!------------------------------------------------------------------------------------------------------------->


  <div class="modal fade" id="growthTrackerModal" tabindex="-1" role="dialog" *ngIf="selected && showGrowth" >

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

                <div class="modal-header ">
                    <h6 class="modal-title mb-0" id="careCardModalLabel"> {{ selected.nickname }} </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">

                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="growth">

                        <div>
                          <button class="btn btn-primary btn-lg"(click)="addGrowthData(selected)"
                          data-toggle="modal" data-target="#addGrowthDataModal"
                          >
                          Add Growth Data
                        </button>
                        </div>

                        <div class="container" *ngFor="let growth of selected.growthData">
                          <div class="plantGrowth"  >
                            <section style="background-color: rgba(36, 88, 24, 0.321);">
                              <div class="container py-5">
                                <div class="main-timeline-2">


                                  <div [ngClass]="determineLeftOrRight()">
                                    <div class="card">
                                      <img [src]="growth.growthImage" class="card-img-top"
                                        alt="Responsive image">
                                      <div class="card-body p-4">

                                        <h4 class="fw-bold mb-4">{{selected.nickname}}</h4>
                                        <h5  class="text-muted mb-4">{{selected.commonName}} </h5>
                                        <h5  class="text-muted mb-4">{{selected.type}} </h5>

                                        <!-- <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> </p> -->

                                        <ul>
                                          <li> Height: {{growth.height}}</li>
                                         <li> Spread: {{growth.spread}}</li>
                                          <li>Pot Diameter: {{growth.potDiameter}}</li>
                                        </ul>

                                        <p class="mb-0">{{growth.growthDescription}}</p>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </section>

                          </div>
                          </div>
                        </div>
                   </div>
        </div>
    </div>
  </div>




  <!------------------------------------------------------------------------------------------------------------->
  <!--         ADD GROWTH DATA                 addGrowthDataModal                                             --->
  <!------------------------------------------------------------------------------------------------------------->



  <div class="modal fade" id="addGrowthDataModal" tabindex="-1" role="dialog" *ngIf="addData">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header d-flex align-items-center bg-primary text-white">
                    <h6 class="modal-title mb-0" id="addGrowthDataModalLabel">Add Growth Data</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">

                  <div class="col-lg-8">
                    <div class="card">
                      <div class="card-body">


                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Image</h6>
                          </div>

                          <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" name="imageUrl" [(ngModel)]="addData.imageUrl">
                          </div>
                        </div>


                        <div class="form-group">
                          <label for="commentContent">Description</label>
                        <textarea class="form-control" rows="5" name="description" [(ngModel)]="addData.growthDescription"></textarea>
                        </div>


                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Plant Height</h6>
                          </div>
                          <div class="col-sm-3 text-secondary">
                            <input type="number" class="form-control" name="height" [(ngModel)]="addData.height">Inches
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Leaf Spread</h6>
                          </div>
                          <div class="col-sm-3 text-secondary">
                            <input type="number" class="form-control" name="spread" [(ngModel)]="addData.spread"> Inches
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <h6 class="mb-0">New Pot Size</h6>
                          </div>
                          <div class="col-sm-3 text-secondary">
                            <input type="number" class="form-control" name="potDiameter" [(ngModel)]="addData.potDiameter">Inches
                          </div>
                        </div>


                      </div>
                    </div>
                    </div>
                     </div>







                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="updateUserPlant(addData, addData.id); displayGrowthData(addData)"
                     data-dismiss="modal" >Add</button>
                </div>
            </form>
        </div>
    </div>
  </div>


  <!-- -------------------------DISPLAY ADD PLANT TO GARDEN FORM  -->
  <div *ngIf="!selected && displayAddUserPlantForm == true">




    <section
      class="vh-100"
      id="registrationForm"
      style="background-color: #eee">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <p
                      class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"
                    ></p>

                    <form class="mx-1 mx-md-4">
                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <input
                            [(ngModel)]="newUserPlant.nickname"
                            type="text"
                            name="nickname"
                            class="form-control"
                          />
                          <label class="form-label" name="nickname">
                            Nickname</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <input
                            [(ngModel)]="newUserPlant.height"
                            type="number"
                            name="height"
                            class="form-control"
                          />
                          <label class="form-label" name="height">Height</label>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <input
                            [(ngModel)]="newUserPlant.spread"
                            type="number"
                            name="spread"
                            class="form-control"
                          />
                          <label class="form-label" name="spread">Spread</label>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <input
                            [(ngModel)]="newUserPlant.potDiameter"
                            type="number"
                            name="potDiameter"
                            class="form-control"
                          />
                          <label class="form-label" name="potDiameter"
                            >Pot Diameter</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <input
                            [(ngModel)]="newUserPlant.homeLocation"
                            type="text"
                            name="homeLocation"
                            class="form-control"
                          />
                          <label class="form-label" name="homeLocation"
                            >Home Location</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <input
                            [(ngModel)]="newUserPlant.imageUrl"
                            type="text"
                            name="imageUrl"
                            class="form-control"
                          />
                          <label class="form-label" name="imageUrl"
                            >Image URL</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <textarea
                            class="form-control"
                            rows="2"
                            name="description"
                            [(ngModel)]="newUserPlant.description"
                          ></textarea>
                          <label class="form-label" name="description"
                            >Description</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" name="description"
                            >Plant Type:</label
                          >
                          <select
                            name="plantId"
                            class="form-select"
                            [(ngModel)]="newUserPlant.plant.id"
                          >
                            <option
                              *ngFor="let plant of plants"
                              value="{{ plant.id }}"
                            >
                              {{ plant.commonName }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div
                        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                      >
                        <button
                          (click)="addUserPlant(newUserPlant); displayAddUserPlantForm = false"
                          type="button"
                          class="btn btn-primary btn-lg"
                        >
                          Add Plant
                        </button>
                      </div>

                      <div
                        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                      >
                        <button
                          class="btn btn-primary btn-lg"
                          type="submit"
                          name="submit"
                          value="Cancel"
                          (click)="displayAddUserPlantForm = false"
                        >
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                  <div
                     class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                  id="backgroudform">
                    <img
                      src="https://live.staticflickr.com/65535/52117776995_a986fe53c9_b.jpg"
                      alt="Plant Daddy"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </section>
  </div>

  </body>








