<section id="team" class="team py-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-title">Our Team</h2>

        <p class="lead text-info w-75 mx-auto"></p>
      </div>
    </div>

    <div class="widgets row multi-columns-row mt-5 text-center">
      <div
        id="serenity_team-1"
        class="widget serenity-team-widget col-sm-12 col-md-12 col-lg-4 text-center mb-4"
      >
        <div class="card shadow">
          <img
            src="https://live.staticflickr.com/65535/52112884652_e6b404dcf3_k.jpg"
            alt="Lucas Paladini"
            class="img-fluid rounded center-block"
          />
          <div class="card-body my-4">
            <h5 class="widget-title w-75 mx-auto mb-0">Lucas Paladini</h5>
            <div class="mt-1 w-75 text-grey mx-auto text-uppercase small">
               Java Full Stack Devoloper &amp; Scrum Master
            </div>
            <div class="text-info mt-4">
              <p>
                "I love new challenges and welcome any opportunity to showcase my ability to come up with creative solutions to unique problems."
              </p>
            </div>
            <ul class="socials mt-4 list-inline justify-content-center">

              <!-- <li class="list-inline-item border-0">
                <a target="_blank" class="text-dark mx-2" href="https://twitter.com/PlantDaddy2022"
                  ><i class="fab fa-twitter fa-lg"></i
                ></a>
              </li> -->
              <li class="list-inline-item border-0">
                <a target="_blank" class="text-dark mx-2" href="https://www.linkedin.com/in/lucas-paladini/"
                  ><i class="fab fa-linkedin fa-lg"></i
                ></a>
              </li>
              <!-- <li class="list-inline-item border-0">
                <a target="_blank" class="text-dark mx-2" href="#"
                  ><i class="fab fa-instagram fa-lg"></i
                ></a>
              </li> -->
                  <li class="list-inline-item border-0">
                <a target="_blank" class="text-dark mx-2" href="https://github.com/Lpaladini90"
                  ><i class="fab fa-github fa-lg"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        id="serenity_team-2"
        class="widget serenity-team-widget col-sm-12 col-md-12 col-lg-4 text-center mb-4"
      >
        <div class="card shadow">
          <img
            src="https://live.staticflickr.com/65535/52112713622_6552d74293_b.jpg"
            alt="Desiree VanAssche"
            class="img-fluid rounded center-block"
          />
          <div class="card-body my-4">
            <h5 class="widget-title w-75 mx-auto mb-0">Desiree VanAssche</h5>
            <div class="mt-1 w-75 text-grey mx-auto text-uppercase small">
              Java Full Stack Devoloper &amp; Repo Owner
            </div>
            <div class="text-info mt-4">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas ac ligula eu justo convallis fringilla.
              </p>
            </div>
            <ul class="socials mt-4 list-inline justify-content-center">
              <!-- <li class="list-inline-item border-0">
                <a target="_blank" class="text-dark mx-2" href="https://twitter.com/PlantDaddy2022"
                  ><i class="fab fa-twitter fa-lg"></i
                ></a>
              </li> -->
              <!-- <li class="list-inline-item border-0">
                <a target="_blank" class="text-dark mx-2" href="#"
                  ><i class="fab fa-google-plus fa-lg"></i
                ></a>
              </li> -->
              <li class="list-inline-item border-0">
                <a target="_blank" class="text-dark mx-2" href="https://www.linkedin.com/in/desiree-vanassche/"
                  ><i class="fab fa-linkedin fa-lg"></i
                ></a>
              </li>
              <li class="list-inline-item border-0">
                <a target="_blank" class="text-dark mx-2" href="https://github.com/desireevanassche"
                  ><i class="fab fa-github fa-lg"></i
                ></a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div
        id="serenity_team-3"
        class="widget serenity-team-widget col-sm-12 col-md-12 col-lg-4 text-center mb-4"
      >
        <div class="card shadow">
          <img
            src="https://live.staticflickr.com/65535/52112884657_d9ee439584_k.jpg"
            alt="Zack Gaddy"
            class="img-fluid rounded center-block"
          />
          <div class="card-body my-4">
            <h5 class="widget-title w-75 mx-auto mb-0">Zack Gaddy</h5>
            <div class="mt-1 w-75 text-grey mx-auto text-uppercase small">
              Java Full Stack Devoloper  &amp;  DBA
            </div>
            <div class="text-info mt-4">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas ac ligula eu justo convallis fringilla.
              </p>
            </div>
            <ul class="socials mt-4 list-inline justify-content-center">

              <li class="list-inline-item border-0">
                <a target="_blank" class="text-dark mx-2" href="https://www.linkedin.com/in/zack-gaddy/"
                  ><i class="fab fa-linkedin fa-lg"></i
                ></a>
              </li>
              <li class="list-inline-item border-0">
                <a target="_blank" class="text-dark mx-2" href="https://github.com/ZackTheAwkward"
                  ><i class="fab fa-github fa-lg"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
