footer.no-space {
  margin-top: 0;
}

footer {
  display: block;
  background-color: black;
  text-align: center;
  padding: 25px 0px;
  margin-top: 120px;
  position: absolute;
  width: 100%;
}

footer p {
  color: #fff;
  font-weight: 300;
}

footer p a {
  color: #fff;
  font-weight: 500;
}

a{
  text-decoration: none;
}
