
<div class="page-content page-container" id="page-content">
   <div class="padding">
      <div class="row" >
         <div class="col-sm-8">

           <div class="container-fluid d-flex justify-content-center" >
            <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move" >


              <div *ngFor="let todo of todos">
               <div class="list-item" data-id="13" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" >
                  <div><a href="#" data-abc="true"><span class="w-40 avatar gd-primary">P</span></a></div>
                  <div class="flex">
                     <a href="#" class="item-author text-color" data-abc="true">{{todo.name}}</a>
                     <div class="item-except text-muted text-sm h-1x">{{todo.description}}</div>
                     <div class="item-except text-muted text-sm h-1x">{{todo.dueDate}}</div>
                     <div class="item-except text-muted text-sm h-1x">{{todo.active}}</div>
                  </div>
                  <div class="no-wrap">
                     <div class="item-date text-muted text-sm d-none d-md-block">{{todo.createdAt}}</div>
                  </div>
                  <div>
                     <div class="item-action dropdown">
                        <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                              <circle cx="12" cy="12" r="1"></circle>
                              <circle cx="12" cy="5" r="1"></circle>
                              <circle cx="12" cy="19" r="1"></circle>
                           </svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                           <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item trash" data-abc="true">Delete item</a>
                        </div>
                     </div>
                  </div>
               </div>
              </div>

            </div>
         </div>
        </div>
      </div>
   </div>
</div>



<form #createForm = "ngForm"  class="row g-3">

  <div class="col-md-6">

    <label for="inputEmail4" class="form-label">Task</label>
    <input type="text" name="name" [(ngModel)]="newTodo.name"/>

<br>

<button class="btn btn-primary" (click)="addTodo(newTodo)"  type="submit" >Add Task</button>

  </div>
  </form>
