<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" [routerLink]="['/home']" >
    <img
      src="https://live.staticflickr.com/65535/52106823607_0bc8558975_z.jpg"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="['/home']"
          >HOME <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" [routerLink]="['/login']">LOGIN</a>
      </li>

      <li class="nav-item dropdown" *ngIf="loggedIn()">
        <a
          class="nav-link dropdown-toggle"

          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
         COMMUNITY
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/blog']">Plant Daddy Blog</a>
          <a class="dropdown-item" [routerLink]="['/socialmedia']">Forum</a>
        </div>

      <!-- </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="['/socialmedia']">Social</a>
      </li> -->
       <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" [routerLink]="['/blog']">BLOG</a>
      </li>

      <!-- <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="['/blog']">Blog</a>
      </li>  -->



      <li class="nav-item dropdown" *ngIf="loggedIn()">
        <a class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          MY GARDEN
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/account']">My Account</a>
          <a class="dropdown-item" [routerLink]="['/userPlants']">Plants in Garden</a>
        </div>
      </li>


      <li class="nav-item dropdown" *ngIf="loggedIn()">
        <a
          class="nav-link dropdown-toggle"

          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          PLANTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/plant']">Plant Library</a>
          <hr />

        </div>
      </li>

      <!-- ALLOWS A USER TO VIEW ALL PLANTS WITHOUT BEING SIGNED IN -->
      <li class="nav-item dropdown" *ngIf="!loggedIn()">
        <a
          class="nav-link dropdown-toggle"

          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          PLANTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/plant']">Plants By Type</a>
          <a class="dropdown-item" [routerLink]="['/plant']">Plants By Name</a>
          <a class="dropdown-item" [routerLink]="['/plant']">All Plants</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"

          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Say Hello!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/about']">About Us</a>
          <a class="dropdown-item" [routerLink]="['/contact']">Contact</a>

        </div>
      </li>

      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" (click)="logout()" [routerLink]="['/logout']">LOGOUT</a>
      </li>

    </ul>
<ul class="profileCard">
      <div class="profileCard">
      <li class="nav-item active" *ngIf="loggedIn()" id="userInfo">
        <a class="nav-link" [routerLink]="['/account']">
          <img
                  [src]="currentUser.imageUrl"
                  class="profile-pic"
                  alt="profile"
                />
          {{currentUser.username}} </a
          >
        </li> </div>
      </ul>

  </div>
</nav>
