img {
  height: 75px;
  width: auto;
  padding-right: 45px;
  }

* {
  font-size: 18px;
  line-height: 28px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  padding-top: 15px;
  font-size: 14px;
  padding-left: 55px;
}


/* PROFILE/ ACCOUNT  */


img[alt*="profile"] {
  border-radius: 50%;
  height: 30px;
}

.profileCard {
float: right !important;
margin-right: 20px;
justify-content: center;
padding-top:10px;
}

.profileCard li{
  list-style: none;

}





