img {
  height: 75px;
  width: auto;
  }

* {
  font-size: 18px;
  line-height: 28px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

ul{
  padding-left: 400px;
}

li {
  padding-top: 15px;
  font-size: 16px;
  padding-left: 40px;
}


/* a:hover {
  font-size: 20px;
  color: #BBCBB7;
} */



img[alt*="profile"] {
  border-radius: 50%;
  height: 30px;
}

.profileCard {
float: right !important;
padding-right: 200px;
justify-content: center;
padding-top:10px;
}

.profileCard li{
  list-style: none;

}





