<body>
  <br>
  <br>
  <br>

  <div class="header">

  <section class="library-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading text-center">

            <h4>Total Plants in {{title}}: {{getNumOfPlants()}}</h4>
          </div>
        </div>


          <div class="search">
            <input type="text" id="search" [(ngModel)] ="searchValue" placeholder="Search our Library"/>
          </div>
        </div>
      </div>

      <div *ngIf="!isNumber(currentUserId)">
        <div *ngIf="displayAddForm == false">
          <button (click)="displayAddForm = true">Add A Plant?</button>
        </div>
      </div>

  </section>
</div>



<table class="table" *ngIf="!selected">

  <tbody>

    <tr *ngFor="let plant of plants | searchPlants:searchValue ">
      <div class="plantCard">

      <td *ngIf="plant.active === true">
        <img id="image" [src]="plant.imageUrl" class="img-thumbnail" height="200px"/>
      </td>
      <td>
      <ul>
          <li *ngIf="plant.active === true"><h4>{{plant.commonName}}</h4></li>
          <li *ngIf="plant.active === true">{{plant.botanicalName}}</li>
          <li *ngIf="plant.active === true">Care Level: {{plant.careDifficulty}}</li>
          <li *ngIf="plant.active === true"><button (click)="setPlant(plant)">Details</button></li>
        </ul>
      </td>
      <!-- <td *ngIf="plant.active === true">{{plant.botanicalName}}</td> -->

      <!-- <td *ngIf="plant.active === true">{{plant.description}}</td> -->
    </div>
    </tr>
  </tbody>
</table>
<br>
<br>



<div *ngIf="!selected && displayAddForm == true">
<form class="addForm" *ngIf="!isNumber(currentUserId)">
Common Name: <input type="text" name="commonName" class="form-control" required [(ngModel)]="newPlant.commonName"/>
<br>
Botanical Name: <input required="true" type="text" name="botanicalName" class="form-control" required [(ngModel)]="newPlant.botanicalName">
<br>
Care Difficulty: <input type="text" name="careDifficulty" class="form-control" required [(ngModel)]="newPlant.careDifficulty" required>
<br>
Description: <input type="text" name="description" class="form-control" required [(ngModel)]="newPlant.description">
<br>
Image: <input type="text" name="imageUrl" class="form-control" required [(ngModel)]="newPlant.imageUrl">
<br>
<input type="submit" name="submit" value="Add Plant" (click)="addPlant(); displayAddForm = false">
<input type="submit" name="submit" value="Cancel" (click)="displayAddForm = false">
</form>
</div>


<!-------------------- SINGLE PLANT SELECTED  ------------------------------------------------------>

<div class="singlePlant">
<div *ngIf="selected">
  <div> <img [src]="selected.imageUrl"/></div>

  <div class="textbox">
 <h3>{{selected.commonName}}</h3>
  <h4>{{selected.botanicalName}}</h4>
  <p>Care Level: {{selected.careDifficulty}}<br>
  {{selected.description}}</p>
  <div *ngIf="selected.user.id == currentUserId">
    <button (click)="setEditPlant()">Edit</button>
    <button (click)="deactivate(selected, selected.id); selected = null">Deactivate</button>
    <br>
    <button (click)="trackGrowth(selected); selected = null">Track Growth</button>
    <button (click)="selected = null">Back</button>

  </div>

  </div>

</div>
</div>


<!------------------------------- PLANT EDIT SELECTED  ------------------------------------------------------------->
  <div *ngIf="editPlant">
    <form>
      Common Name: <input type="text" name="common name" class="form-control" [(ngModel)]="editPlant.commonName">
      <br>
      Botanical Name: <input type="text" name="botanical name" [(ngModel)]="editPlant.botanicalName">
      <br>
      Care Difficulty: <input type="text" name="care difficulty" [(ngModel)]="editPlant.careDifficulty">
      <br>
      Description: <input type="text" name="description" [(ngModel)]="editPlant.description">
      <br>
      Image URL: <input type="text" name="image url" [(ngModel)]="editPlant.imageUrl">
      <br>
      <button (click)="updatePlant(editPlant, editPlant.id)">Save</button>
      <br>
      <button (click)="editPlant = null">Cancel</button>
      <br>
    </form>
  </div>





</body>


