@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Yeseva+One&display=swap');

body{
  background-image: url("https://live.staticflickr.com/65535/52110712751_a423e4cc2e_k.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: inherit;

}


* {
  font-family: 'Josefin Sans', sans-serif;
}
td, th {
  vertical-align: middle;
}

thead{
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2a2a2a;
  font-family: 'Yeseva One', cursive;
}

    /* PLANT TABLE--------------------- */

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 28px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

td {
  font-size: 30px;
  line-height: 28px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: center;
  border-style: hidden;

}

tr {
  font-size: 15px;
  line-height: 28px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: center;
  border-style: hidden;
}

.libraryHead h3 {
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
}

.img-thumbnail {
  height: 300px;
  width: 300px;
}

ul li {
  padding-left: 0;
  list-style: none;
  font-size: 18px;
  list-style: none;

}

td li {
  padding-left: 0 !important;
}

.plantCard {
  border: 1.5px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #CCCCCC;
  background-color: white;

}
.library-table {
  width: 800px;
  border-collapse: separate;
  border-spacing: 15px;
  margin-left: auto;
  margin-right: auto;


}

 button {
  background-color: #BBCBB7;
  border-radius: 8px;
  border: black;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 5px;
}

 button:hover {
  background-color: #577050;

}

/*-------------- MAIN BANNER ---------------------------------*/

.lib-header {
  padding-top: 25px;
  background-color: #577050;
  padding-bottom: 25px;
  margin-left: 0px;
  width: 500px;
}


.library-banner h4 {
  color: #fff;
  font-size: 60px;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Yeseva One', cursive;

}

.lib-header .search {
  height: 50px;
  justify-content: center;

}

input[type=text] {
  background: white;
  border-radius: 8px;
  border-color: white;
  border-width: 2px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
}

/*----SINGLE PLANT SELECTED ------------------*/

.singlePlant{
  background-color: white;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 18px;
  padding-top: 10px;
  border-radius: 8px;
  border: 1.5px solid black;
  height: 400px;

}

.singlePlant img {
    float: left;
    margin: 10px;
    height: 350px;
    border-radius: 8px;
    border: 1.5px solid white;
}

.singlePlant h1 {
  padding-bottom: 2px;
  padding-top: 50px;

}

.singlePlant .textbox {
  padding-top: 15px;
}

.singlePlant p {
  font-size: 14px;
  padding-right: 10px;
  padding-left: 2.5px;
}

/* .singlePlant button {
  color: #BBCBB7;
  border-radius: 8px;
  border: black;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 25px;
} */
/*
.singlePlant button:hover {
  background-color: #577050;

} */

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.wrapper {
  /* height: 100vh; */
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;

}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.modal {
  /* margin-top: 250px; */
  /* width: 300px; */
  margin-left: auto;
  margin-right: auto;

}

div.modal-header {
  background-color: #BBCBB7 !important;
}

div.modal-header h6{
  font-size: 24px;
  text-align: center;
  width: 900px;
}

.modal {
  border-radius: 10px;
}

div.modal-body li{
  font-family: 'Josefin Sans', sans-serif  !important;

}

.modal-body {
  max-width: 80% !important;
  background-color: white;
}

div.modal-body h3{
  font-family: 'Josefin Sans', sans-serif  !important;
  font-size: 18px;

}

div.modal-body input[type="text"] {
  max-width: 80% !important;
  border: 1.5px solid black;
  border-radius: 8px;
}

.modal-dialog {
  max-width: 80% !important;
  background-color: white;
}


.modal button {
  background-color: #BBCBB7;
  border-radius: 8px;
  border: black;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.modal .close-button {
  background-color: #BBCBB7;
  font-size: 12px;
  width: 35px;
  border: 1.5px solid white;
  color: white;

}

.searchBar  {
  background-color: white;
  border-radius: 10px;
  width: 600px;
  box-shadow: 1px 1px 1px 1px #CCCCCC;

}

