<body>


<div class = "container">
  <div><p>search</p>
  <input type="text" id="search" [(ngModel)] ="searchValue"/></div>
    <table *ngIf="!selected" class="table table-striped table-hover">
    <thead>
      <tr class = table-header>


      </tr>
      </thead>
    <tr class = "table-row" *ngFor="let blog of blogs | searchfilter:searchValue" >
      <img [src]="blog.imageUrl">
      <td class='title' (click)="displayBlog(blog)">{{blog.title}}</td>
      <td class='content' (click)="displayBlog(blog)">{{blog.content}}</td>

    </tr>
</table>
</div>

<div *ngIf="selected && !editBlog">

  <img [src]="selected.imageUrl">
  <p>{{selected.title}}</p>
  <p>{{selected.createdAt}}</p>
  <p>{{selected.content}}</p>

  <button (click)="displayTable()">Back</button>
</div>

<!--------- Edit post form ------------------------------------------------------------------------------------ -->

<!-- <section>
  <div *ngIf="editPost">
    <form>
      Title: <input type="text" name="title" [(ngModel)]="editPost.title">
      Content: <input type="text" name="content" [(ngModel)]="editPost.content">
      Image Url: <input type="text" name="imageUrl" [(ngModel)]="editPost.imageUrl">

      <button (click)="updatePost(editPost, editPost.id)">Save</button>
      <button (click)="editPost = null">Cancel</button>

    </form>
  </div>
</section> -->
</body>
