<body>


  <div class="container d-md-flex align-items-stretch">
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">






    <div class = "container">


  <table class="table" *ngIf="!selected">
    <tbody>

     <tr class = "table-row" *ngFor="let blog of blogs | orderBy:'createdAt'| searchfilter:searchValue" >
       <div class="blogCard">

        <td> <img [src]="blog.imageUrl" height="300px"> </td>

        <td>
        <ul>
          <li>{{blogCreated()}}</li>
          <li (click)="displayBlog(blog)"><h4>{{blog.title}}</h4></li>
          <li (click)="displayBlog(blog)">{{blog.content}}</li>
    </ul>
  </td>
    </div>
  </tr>
</tbody>
</table>
</div>

<div *ngIf="selected && !editBlog">
  <div class="single-blog-card">

  <img [src]="selected.imageUrl">
  <p>{{selected.title}}</p>
  <p>{{selected.content}}</p>

  <button class="btn btn-success" (click)="displayTable()">Back</button>

  <div *ngIf="currentUserId === 1">
    <button (click)="setEditBlog()">Edit</button></div>
</div>
</div>

<!--------- Edit Blog form ------------------------------------------------------------------------------------ -->

<section>
  <div *ngIf="editBlog">
    <form>
      Title: <input type="text" name="title" [(ngModel)]="editBlog.title">
      Content: <input type="text" name="content" [(ngModel)]="editBlog.content">
      Image Url: <input type="text" name="imageUrl" [(ngModel)]="editBlog.imageUrl">

      <button (click)="updateBlog(editBlog, editBlog.id); editBlog = null">Save</button>
      <button (click)="editBlog = null">Cancel</button>

    </form>
  </div>
</section>

<!------------------- NEW BLOG ------------------------------------------ -->

<div *ngIf="!isNumber(currentUserId)">


  <!-- <div *ngIf="currentUserId === 1">
    <button class="btn btn-primary" (click)="displayAddForm = true">Add A Blog Post </button>
  </div> -->
</div>

<div *ngIf="!selected && displayAddForm == true">

  <form class="addForm" name="addForm" *ngIf="!isNumber(currentUserId)">

    Title <input type="text" name="title" class="form-control" [(ngModel)]="newBlog.title">
    <br>
    Content <input type="text" name="content" class="form-control" [(ngModel)]="newBlog.content">
    <br>
    Image Url  <input type="text" name="imageUrl" class="form-control" [(ngModel)]="newBlog.imageUrl">
    <br>
    <input type="submit" name="submit" value="addBlog" (click)="addBlog(newBlog); displayAddForm = false">

    <input type="submit" name="submit" value="Cancel" (click)="displayAddForm = false">
  </form>
</div>
</div>


<nav id="sidebar">
  <div class="side-nav">
  <div class="p-4 pt-5">


    <div class="mb-5">
      <h5>Tag Cloud</h5>
      <div class="tagcloud" >
        <a (click)="tagSearch('Care')" class="tag-cloud-link">Care</a>
        <a (click)="tagSearch('Indoor')" class="tag-cloud-link">Indoor</a>
        <a (click)="tagSearch('low light')" class="tag-cloud-link">Low Light</a>
        <a (click)="tagSearch('bright')" class="tag-cloud-link">Bright Indirect Light</a>
        <a (click)="tagSearch('intermediate')" class="tag-cloud-link">Intermediate Care</a>
        <a (click)="tagSearch('advanced')" class="tag-cloud-link">Advanced Care</a>
        <a (click)="tagSearch('tap')" class="tag-cloud-link">Tap Water</a>
      </div>
    </div>
    <div class="mb-5">

        <div class="form-group d-flex">
          <div class="icon"><span class="icon-paper-plane"></span></div>
          <div class="search">
            <input type="text" id="search" [(ngModel)] ="searchValue" placeholder="Search our Library"/>
          </div>

          </div>

          <div *ngIf="!isNumber(currentUserId)">

<div>
  <button class="button" (click)="searchValue = null">Clear</button>
</div>
            <div *ngIf="currentUserId === 1">
              <button class="button" (click)="displayAddForm = true">Add A Blog Post </button>
            </div>
          </div>
            </div>
            </div>
            </div>
            </nav>


</div>
</body>
