<body>

<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="header-text">
          <h2>Plant Daddy <br> Witty Slogan </h2>
          <div class="buttons">
            <div class="big-border-button">
              <a href="contests.html">Explore Plant Daddy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!--
<section class="featured-items" id="featured-items">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">
          <div class="item">
            <div class="thumb">
              <img src="https://live.staticflickr.com/65535/52098494696_758a5bf9e6_z.jpg" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h4>Walk In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                  <ul>
                    <li><span>Contest Winner:</span> Vincent Adam</li>
                    <li><span>Contest Author:</span> Anthony Soft</li>
                    <li><span>Awards:</span> $1.000 + Camera Nikon</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="https://live.staticflickr.com/65535/52098494696_758a5bf9e6_z.jpg" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h4>Smile In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                  <ul>
                    <li><span>Contest Winner:</span> Thomas Eddy</li>
                    <li><span>Contest Author:</span> Anthony Soft</li>
                    <li><span>Awards:</span> $1,200 + Canon EOS R7</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="https://live.staticflickr.com/65535/52098494696_758a5bf9e6_z.jpg" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h4>Happy In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                  <ul>
                    <li><span>Contest Winner:</span> Vincent Adam</li>
                    <li><span>Contest Author:</span> Anthony Soft</li>
                    <li><span>Awards:</span> $1,800 + Canon EOS R6</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="https://live.staticflickr.com/65535/52098494696_758a5bf9e6_z.jpg" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h4>Walk In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                  <ul>
                    <li><span>Contest Winner:</span> Thomas Eddy</li>
                    <li><span>Contest Author:</span> Anthony Soft</li>
                    <li><span>Awards:</span> $8,400 + Canon EOS R1</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="https://live.staticflickr.com/65535/52098494696_758a5bf9e6_z.jpg" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h4>Run In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                  <ul>
                    <li><span>Contest Winner:</span> Vincent Adam</li>
                    <li><span>Contest Author:</span> Anthony Soft</li>
                    <li><span>Awards:</span> $5,500 + Canon EOS R3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="https://live.staticflickr.com/65535/52098494696_758a5bf9e6_z.jpg" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h4>Stay In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                  <ul>
                    <li><span>Contest Winner:</span> Thomas Eddy</li>
                    <li><span>Contest Author:</span> Anthony Soft</li>
                    <li><span>Awards:</span> $4,400 + Canon EOS R5</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="https://live.staticflickr.com/65535/52098494696_758a5bf9e6_z.jpg" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h4>Walk In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                  <ul>
                    <li><span>Contest Winner:</span> Vincent Adam</li>
                    <li><span>Contest Author:</span> Anthony Soft</li>
                    <li><span>Awards:</span> $3,800 + Canon EOS R6</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="https://live.staticflickr.com/65535/52098494696_758a5bf9e6_z.jpg" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h4>Shoot In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                  <ul>
                    <li><span>Contest Winner:</span> Vincent Adam</li>
                    <li><span>Contest Author:</span> Anthony Soft</li>
                    <li><span>Awards:</span> $2,400 + Canon EOS R7</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="https://live.staticflickr.com/65535/52098494696_758a5bf9e6_z.jpg" alt="">
              <div class="hover-effect">
                <div class="content">
                  <h4>Fly In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                  <ul>
                    <li><span>Contest Winner:</span> Vincent Adam</li>
                    <li><span>Contest Author:</span> Anthony Soft</li>
                    <li><span>Awards:</span> $1,200 + Canon EOS R10</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

LINKS HERE TO BLOG - REGISTER & __________?



<section class="forum-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading text-center">
          <h6>Plant Forum </h6>
          <h4><em>Conversations.</em> Community. <em>Care.</em></h4>
        </div>
      </div>

      <div class="buttons">
        <div class="big-border-button">
          <a href="contests.html">Explore T</a>
        </div>
      </div>
    </div>
  </div>
</section>






<!---------------------- START FOOTER ------------------------------------------->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2022 <a href="#">Plant Daddy</a> Plant Daddy., Ltd. All rights reserved.
      </div>
    </div>
  </div>
</footer>



</body>
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/popup.js"></script>
<script src="assets/js/custom.js"></script>

