

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Yeseva+One&display=swap');







html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

/* html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgb(155, 26, 26);
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2a2a2a;
  font-family: 'Yeseva One', cursive;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 28px;
  color: #b12020;
  font-family: 'Josefin Sans', sans-serif;
}

img {
  width: 100%;
  overflow: hidden;
}

/*
---------------------------------------------
Global Styles
---------------------------------------------
*/
html,
body {
  padding: 0 0;
  margin-left: 0;
  margin-right: 0;
  background: white;
  font-family: 'Josefin Sans', sans-serif;
}

::selection {
  background: #00bdfe;
  color: #fff;
}

/* ::-moz-selection {
  background: #fe0000;
  color: #fff;
} */

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.border-button a {
  font-size: 15px;
  color: black;
  background-color: transparent;
  border: 1px solid #0e3613;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
}

.border-button a:hover {
  background-color: #00bdfe;
  color: #fff;
}

.main-button a {
  font-size: 15px;
  color: #fff;
  background-color: #0e3613;
  border: 1px solid #00bdfe;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
}

/* .main-button a:hover {
  background-color: transparent;
  color: #fe0019;
} */

section {
  margin-top: 120px;
}

.section-heading {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 70px;
}

.section-heading h6 {
  font-size: 15px;
  text-transform: uppercase;
  color: #00bdfe;
  font-weight: 400;
}

.section-heading h4 {
  margin-top: 10px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #212741;
}

.section-heading h4 em {
  color: #00bdfe;
  font-style: normal;
}

.section-heading p {
  margin-top: 30px;
}







/*------------ HOME MAIN BANNER ------------*/

.main-banner {
  background-image: url("https://images.unsplash.com/photo-1516540438350-9db0f4e6552f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 290px;
  padding-bottom: 240px;
  text-align: center;
  background-color: #2a2a2a;
}

.main-banner h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
}

.main-banner h2 em {
  font-style: normal;
  color: #00bdfe;
}

.main-banner p {
  color: #fff;
  padding: 30px 0px;
  margin: 40px 75px 0px 75px;
  border-top: 1px solid rgba(250,250,250,0.2);
}

.main-banner .buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.main-banner .big-border-button a {
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  margin-right: 15px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
}

.main-banner .big-border-button a:hover {
  background-color: #fff;
  color: #102f08;

}
/* ABOUT  */

.about .community {
  background: white;
  margin-top: 10;
  margin-bottom: 0;
  justify-content: right;

}
.contentAbout h3 {
  font-weight: 400;
  font-size: 75px;
  color: white;
}
.contentAbout h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 45px;
  font-weight: 200;
  margin-top: 5px;

}

.about img:hover {
  transform: scale(1.1);
}


.contentCommunity h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 45px;
  font-weight: 200;
  margin-top: 5px;
  text-align: right

}
.about .contentAbout p {
  font-size: 18px;
  color: #010101;
  padding-right: 200px;
}

.community img:hover {
    transform: scale(1.1);
}

.about .col-lg-5 {
  padding-left: 100px;
}

.community .col-lg-5 {
  padding-right: 100px;
}

.community .contentCommunity p {
  font-size: 18px;
  color: #010101;
  padding-left: 200px;
  text-align: right
}




/* ------ FORUM BANNER  ----------------------*/

section.forum-banner {
  background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 120px 0px;
}

.forum-banner {
  background-image: url("https://images.unsplash.com/photo-1516540438350-9db0f4e6552f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 290px;
  padding-bottom: 240px;
  text-align: center;
  background-color: #2a2a2a;
}

.forum-banner h6 {
  color: #fff;
  font-size: 26px;


}
.forum-banner h4 {
  color: #fff;
  padding: 30px 0px;
  /* margin: 40px 75px 0px 75px; */
  border-top: 1px solid rgba(250,250,250,0.2);
  text-emphasis-color: #555;
}

.forum-banner h4 em {
  font-style: normal;
  color: #7a7a7a;
}



.forum-banner .buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.forum-banner .big-border-button a {
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  margin-right: 15px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
}

.forum-banner .big-border-button a:hover {
  background-color: #fff;
  color: #102f08;
}


/* ------ FOOTER --------------------------------*/

footer.no-space {
  margin-top: 0px;
}

footer {
  background-color: black;
  text-align: center;
  padding: 25px 0px;
  margin-top: 120px;
}

footer p {
  color: #fff;
  font-weight: 300;
}

footer p a {
  color: #fff;
  font-weight: 500;
}


/* ---- START LIBRARY GALLERY -------------------------------- */


.makeChanges {
	padding-bottom: 30px;
}

.makeChanges .card {
	border-radius: 3px;
	border: 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.makeChanges .card-body {
	width: 300px;
  height: 350px;
	padding-top: 12px;
}

.makeChanges .card-title {
	font-weight: 400;
	text-align: center;
}

.makeChanges .card-title a {
	color: #743e1d;
}

.makeChanges .card-title a:hover {
	color: #B37548;
}

.makeChanges .card-image {
	justify-content: center;
	align-items: center;
}

@media ( max-width : 1024px) {
	.makeChanges {
		background-attachment: scroll;
	}
}















