<!-- <google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
></google-map>
 -->


<body>

<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="header-text">
          <h2>Plant Daddy <br> Come Grow With Us </h2>
          <div class="buttons">
            <div class="big-border-button">
              <a class="nav-link" [routerLink]="['/plant']">Explore Plant Daddy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MAIN BANNER -------------------------------------------->




  <section id="about" class="about">

    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-5"> <img src="https://live.staticflickr.com/65535/52108723184_bc725b8ff5_b.jpg" height="auto" width="800px">
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-center">
          <div class="contentAbout">
            <h3></h3>
            <h1>Keep your <br>Plants Alive</h1>
            <p>Do you have any doubts about when it's time to water your plants? Plant Daddy understands when it's time! Simply add them to your garden and we will let you know when it is time to water, fertilize, mist, clean, and repot!</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="community" class="community">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center">
          <div class="contentCommunity">
            <h1>Find your <br> Community</h1>
            <p>The founders of Plant Daddy thought that there must be a better way to grow by harnessing the power of community.  That's exactly what we do, bring together novice growers with experienced gardeners who inspire, support and advise.</p>
          </div>
        </div>
        <div class="col-lg-5"> <img src="https://live.staticflickr.com/65535/52108511423_9202188d9a_b.jpg" height="auto" width="800px">

        </div>

      </div>

    </div>
  </section>



<!-------------------FORUM BANNER -------------------------------->

<section class="forum-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading text-center">
          <h6>Plant Forum </h6>
          <h4><em>Conversations.</em> Community. <em>Care.</em></h4>
        </div>
      </div>

      <div class="buttons">
        <div class="big-border-button">
          <a [routerLink]="['/socialmedia']">Explore </a>
        </div>
      </div>
    </div>
  </div>
</section>


<!------------------- START IMAGE GALLERY ------------------------>
<div class="saying">
  <h1>What People are Saying </h1>
</div>

<div class="reviewBackground">
<section id="makeChanges" class="makeChanges section-bg">
  <div class="container">


    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="card">
          <div class="card-image"><img src="https://live.staticflickr.com/65535/52112821242_3058af4a09_z.jpg" alt=""></div>
          <div class="card-body">
            <h5>I'm in love!</h5><br>
            <p>"I used to be so nervous about briging home a new plant, but not anymore. This app has helped me turn my black thumb green!"</p>


          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="card">
          <div class="card-image"><img src="https://live.staticflickr.com/65535/52114356465_410e870474_z.jpg"> </div>
          <div class="card-body">

            <h5>I never leave reviews!</h5><br>
              <p>"I have over 40 plants in my home and it can be so difficult to keep track of them all. This webiste has changed that, now I can keep all my plants alive with the help of Plant Daddy!"</p>


          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="card">
          <div class="card-image"><img src="https://live.staticflickr.com/65535/52113849206_d56971c9df_z.jpg" alt=""></div>
          <div class="card-body">

            <h5>
              Came for the the plants stayed for the community </h5><br>
              <p>"Joined this website to learn more about plants bu the longer I am here, the more connected I feel to the community. Everyone is so nice and supportive." </p>





          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>


<!---------------------- START FOOTER ------------------------------------------->
<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2022 <a href="#">Plant Daddy</a> Plant Daddy., Ltd. All rights reserved.
      </div>
    </div>
  </div>
</footer> -->



</body>
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/popup.js"></script>
<script src="assets/js/custom.js"></script>

