<div class="container-fluid">
  <div class="headernav">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selectpost">
          <div class="dropdown">
            <a data-toggle="dropdown" href="#">My Posts</a>
            <b class="caret"></b>
            <ul class="dropdown-menu" role="menu" *ngFor="let post of posts">
              <li role="presentation">
                <a
                  name="post.title"
                  tabindex="-1"
                  href="#"

                  >{{ post.title }}</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
          <div class="wrap">
            <form action="#" method="post" class="form">
              <div class="pull-left txt">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search Posts"
                />
              </div>
              <div class="pull-right">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>

            </form>
          </div>
        </div>

        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
          <div class="stnt pull-left">
            <form action="03_new_topic.html" method="post" class="form">
              <button
                class="btn btn-primary"
                (click)="displayCreateForm(); display = display"
              >
                Create New Post
              </button>
            </form>
          </div>
          <div class="env pull-left"><i class="fa fa-envelope"></i></div>


        </div>
      </div>
    </div>
  </div>
  <section class="content">

    <div class="container">
      <div class="row" *ngIf="!display">
        <div class="col-lg-8 col-md-8" *ngIf="!selected">
          <!-- ALL POST -->
          <div class="post" *ngFor="let post of allPosts">
            <div class="wrap-ut pull-left">
              <div class="posttext pull-left" (click)="displayPost(post)" *ngIf="post.active === true">
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
              </div>

            </div>
            <div class="postinfo pull-left"></div>

          </div>
          <!-- ALL  POSTS -->
        </div>

        <!-- ---------  Single Post View -------------- -->
        <div class="col-lg-8 col-md-8" *ngIf="selected">
          <div class="post" *ngIf="selected">
            <div class="wrap-ut pull-left">
              <div class="posttext pull-left">
                <h2>{{ selected.title }}</h2>
                <p>{{ selected.content }}</p>
                <p><img class="img-thumbnail" [src]=selected.imageUrl /></p>
                <p>{{ selected.createDate }}</p>
                <p>Topic : {{ selected.topic.name }}</p>
                <div *ngIf="selected.comments && selected.comments.length > 0">
                  <ul>
                    <li *ngFor="let comment of selected.comments">
                      {{ comment.content }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="postinfo pull-left">
              <div>
                <button
                  (click)="displayPosts()"
                  type="button"
                  class="btn btn-primary btn-lg"
                >
                  Return to forum
                </button>
                <div *ngIf="selected.user.id == currentUserId">
                  <button
                    (click)="editPost = selected"
                    type="button"
                    class="btn btn-primary btn-lg"
                  >
                    Edit Post
                  </button>
                  <button
                    (click)="disablePost(selected.id, selected)"
                    type="button"
                    class="btn btn-primary btn-lg"
                  >
                    Deactivate
                  </button>
                </div>
              </div>
            </div>

          </div>

          <div class="view-comments">
            <ul>
              <li></li>
            </ul>
          </div>
        </div>

        <!-- ---------  Single Post View -------------- -->

        <!-- ---------  EDIT Post View -------------- -->
        <div class="col-lg-8 col-md-8">
          <div class="post">
            <div class="wrap-ut pull-left">
              <div class="posttext pull-left">
                <section>
                  <div *ngIf="selected && editPost">
                    <form>
                      Title:
                      <input
                        type="text"
                        name="title"
                        [(ngModel)]="editPost.title"
                      />
                      Content:
                      <input
                        type="text"
                        name="content"
                        [(ngModel)]="editPost.content"
                      />
                      Image Url:
                      <input
                        type="text"
                        name="imageUrl"
                        [(ngModel)]="editPost.imageUrl"
                      />
                      <label name="active">active?</label>
                      <input type="text" name="active" [(ngModel)]="editPost.active"/>

                      <button  (click)="updatePost(editPost, editPost.id); editPost = null" >
                        Save
                      </button>
                      <button (click)="editPost = null">Cancel</button>
                    </form>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <!-- ---------  EDIT Post View -------------- -->

        <!-- <div *ngIf="selected && !editPost">
          <p>{{ selected.id }}</p>
          <p>{{ selected.title }}</p>
          <p>{{ selected.imageUrl }}</p>
          <p>{{ selected.createDate }}</p>

          <button (click)="displayTable()">Back</button>
        </div> -->

        <!--------------------- SIDE BAR FOR CATEGORIES SECTION ----------->
        <div class="col-lg-4 col-md-4">
          <div class="sidebarblock">
            <h3>Topics</h3>
            <div class="divline"></div>
            <div class="blocktxt">
              <ul class="cats" *ngFor="let topic of topics">
                <li>
                  <a href="#"
                    >{{ topic.description }}
                    <span class="badge pull-right"
                      ># of posts on topic here</span
                    ></a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="sidebarblock"></div>

          <!-- -->
          <div class="sidebarblock"></div>
        </div>
      </div>
    </div>
  </section>
</div>

<section
  class="vh-100"
  id="registrationForm"
  style="background-color: #eee"
  *ngIf="display"
>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"></p>

                <form class="mx-1 mx-md-4">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        [(ngModel)]="newPost.title"
                        type="text"
                        name="title"
                        class="form-control"
                      />
                      <label class="form-label" name="title"> Title</label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        [(ngModel)]="newPost.content"
                        type="text"
                        name="content"
                        class="form-control"
                      />
                      <label class="form-label" name="content"> Content</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        [(ngModel)]="newPost.imageUrl"
                        type="text"
                        name="imageUrl"
                        class="form-control"
                        height="500px"
                      />
                      <label class="form-label" name="imageUrl">
                        Image Url</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <select [(ngModel)]="newPost.topic.id" name="topicId">
                      <option
                        *ngFor="let topic of topics"
                        value="{{ topic.id }}"
                      >
                        {{ topic.name }}
                      </option>
                    </select>
                    <!-- <div class="dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item" >General</a>
                      <a class="dropdown-item" >Trader Shop</a> -->
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      (click)="addPost(newPost); display = !display"
                      type="button"
                      class="btn btn-primary btn-lg"
                    >
                      Create Post
                    </button>
                  </div>

                  <!-- HEY YOU! ADD A DROP DOWN SOMEWHERE TO LET THE USER CHOOSE THE TOPIC THE POST FALLS UNDER -->
                </form>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="https://live.staticflickr.com/65535/52101376154_277cf4374f_z.jpg"
                  class="img-fluid"
                  alt="Create a Post "
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--------------END ADD POST FORM ----------------------------------------------------------------------------------

//--------- Display single post & option to edit --------------------------------------------------------------------
//-------add logic to only allow original poster to edit ---------------------------------------------------------->

<!--------- Edit post form NOT HERE _ MOVE TO PROFILE  ------------------------------------------------------------------------------------ -->

<!------ END Edit Post Form ---------------------------------------------------------------------------->

<!------- View all Post table -------------------------------------------------------------------------->
<!-- // logic for logged in / not? -->

<!-- <table *ngIf="!selected" class="table table-striped table-hover">
  <thead class="table-light">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Date Created</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let post of posts">
      <td class="title" (click)="displayPost(post)">{{ post.title }}</td>
      <td class="title" (click)="displayPost(post)">{{ post.content }}</td>
      <td class="title" (click)="displayPost(post)">{{ post.createDate }}</td>

      <td>
        <button class="btn btn-danger" (click)="disablePost(post)">X</button>
      </td>
    </tr>
  </tbody>
</table> -->

<!-- <table *ngIf="!selected" class="table table-striped table-hover">
  <thead class="table-light">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Date Created</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let post of allPosts" name="displayAllPosts">
      <td class="title" (click)="displayPost(post)">{{ post.title }}</td>
      <td class="content" (click)="displayPost(post)">{{ post.content }}</td>
      <td class="createDate" (click)="displayPost(post)">
        {{ post.createDate }}
      </td>
    </tr>
  </tbody>
</table> -->
