@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Yeseva+One&display=swap');

body{
  background-image: url("https://live.staticflickr.com/65535/52111120651_0acd4c97fb_k.jpg");
  background-attachment: fixed;
  background-position: center;
}

.social-container {
  padding: 50px 50px 50px 50px;
padding-bottom: 2000px !important;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}


.inner-wrapper {
  position: relative;
  height: calc(100vh - 3.5rem);
  transition: transform 0.3s;
}
@media (min-width: 992px) {
  .sticky-navbar .inner-wrapper {
      height: calc(100vh - 3.5rem - 48px);
  }
}

.inner-main,
.inner-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

}
.inner-sidebar {
  width: 235px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  border-radius: 10px;
  border: 1px solid black !important;
}
.inner-main {
  right: 0;
  left: 235px;
}
.inner-main-footer,
.inner-main-header,
.inner-sidebar-footer,
.inner-sidebar-header {
  height: 3.5rem;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 0 1rem;
  flex-shrink: 0;
}
.inner-main-body,
.inner-sidebar-body {
  padding: 1rem;
  overflow-y: auto;
  position: relative;
  flex: 1 1 auto;
}
.inner-main-body .sticky-top,
.inner-sidebar-body .sticky-top {
  z-index: 999;
}
.inner-main-footer,
.inner-main-header {
  background-color: #1d4a2c;
  display: inline-block;
}
.inner-main-footer,
.inner-sidebar-footer {
  border-top: 1px solid #cbd5e0;
  border-bottom: 0;
  height: auto;
  min-height: 3.5rem;
}
@media (max-width: 767.98px) {
  .inner-sidebar {
      left: -235px;
  }
  .inner-main {
      left: 0;
  }
  .inner-expand .main-body {
      overflow: hidden;
  }
  .inner-expand .inner-wrapper {
      transform: translate3d(235px, 0, 0);
  }
}

.main-body {
padding-bottom: 500px;}

.nav .show>.nav-link.nav-link-faded, .nav-link.nav-link-faded.active, .nav-link.nav-link-faded:active, .nav-pills .nav-link.nav-link-faded.active, .navbar-nav .show>.nav-link.nav-link-faded {
  color: #3367b5;
  background-color: #55a570;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #467bcb;
}
.nav-link.has-icon {
  display: flex;
  align-items: center;
}
.nav-link.active {
  color: #467bcb;
}
.nav-pills .nav-link {
  border-radius: .25rem;
}
.nav-link {
  color: #f9fafb;
}
/* .card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
*/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1.5 solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 800px;
  margin-left: 20px;

}
.card-body {
  border: 1.5px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #CCCCCC;
  background-color: white;
  margin-bottom: 10px;
}

.card-header:first-child {
  border-radius: 0 0 0 0;
}
.card-header {
  padding: 0.875rem 1.5rem;
  margin-bottom: 10px;
  background-color: #BBCBB7;
  border-bottom: 1.5px solid #f2f4f9;
  justify-content: center;
  border-radius: 10px !important;
  width: 100%;
}

.card-footer:last-child {
  border-radius: 0 0 0 0;
}
.card-footer {
  padding: 0.875rem 1.5rem;
  background-color: white;
  border-top: 1px solid #2246a1;

}

.grid-margin {
  margin-bottom: 1rem;
}

/* .card {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
} */
.rounded {
  border-radius: 2% !important;
}

.img-xs {
  width: 37px;
  height: 37px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}

.comment-for-post{
  padding-left: 400px;
}
.reply-for-post{
  padding-left: 600px !important;
}

button{
  margin-top: 20px;
  background-color: #577050;
  border-color: white;
  border-radius: 10px;

}
button:hover {
  background-color: #BBCBB7;
  border-radius: 10px;
  border-color: white;

}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.05); }
  #sidebar .h6 {
    color: #fff; }
  #sidebar.active {
    margin-left: -270px; }
  #sidebar ul.components {
    padding: 0; }
  #sidebar ul li {
    font-size: 14px; }
    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 13px; }
        #sidebar ul li > ul li a {
          border-bottom: 1px solid transparent; }
          #sidebar ul li > ul li a span {
            color: #000; }
    #sidebar ul li a {
      padding: 10px 0;
      display: block;
      color: black;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
      #sidebar ul li a span {
        color: #fff; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #fc7fb2; }
  @media (max-width: 767.98px) {
    #sidebar {
      min-width: 100%;
      max-width: 180px;
      border-left: none; } }
  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    #sidebar .custom-menu .btn {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative; }
      #sidebar .custom-menu .btn i {
        margin-right: -40px;
        font-size: 14px; }
      #sidebar .custom-menu .btn.btn-primary {
        background: transparent;
        border-color: transparent; }
        #sidebar .custom-menu .btn.btn-primary:after {
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          background: #fc7fb2;
          border-radius: 10px; }
        #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
          background: transparent !important;
          border-color: transparent !important; }



