<table *ngIf="!selected" class="table table-striped table-hover">
  <thead class="table-light">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Date Created</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let post of posts">
      <td class="title" (click)="displayPost(post)">{{ post.title }}</td>
      <td class="title" (click)="displayPost(post)">{{ post.content }}</td>
      <td class="title" (click)="displayPost(post)">{{ post.createDate }}</td>

      <td>
        <!-- <button class="btn btn-danger" (click)="disablePost(post)">X</button> -->
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="selected && !editPost">
  <p>{{selected?.id}}</p>
  <p>{{selected?.title}}</p>
  <p>{{selected?.imageUrl}}</p>
  <p>{{selected?.createDate}}</p>

  <button (click)="displayTable()">Back</button>
</div>
